* {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #401F68;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  padding: 0.5em 0;
}

header {
  text-align: center;
  padding: 1em;
}

main {
  margin: 0 25px;
}

section {
  padding-top: 50px;
}

article li {
  margin-left: 25px;
}

footer {
  font-size: 0.5em;
  padding: 1em;
}

nav ul {
  margin: 10px auto;
}

.whitespace {
  margin: 100px 0;
}

/***** Image Styling *****/

article img {
  width: 85%;
}

figure img {
  max-width: 90%;
  margin-top: 25px;
  max-height: 75vh;
}

figure {
  text-align: center;
}

.logo {
  width: 8%;
  vertical-align: middle;
}

hr {
  border: 1px solid #401F68;
}

/***** Submenu Styling *****/

.dropcontent {
  display: none;
}

.active .dropcontent {
  display: block;
}

/***** Text Stylings *****/

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.smallText {
  font-size: 0.9em;
}

.subtitle {
  padding: 0;
}

figcaption {
  font-size: 0.5em;
  text-align: center;
}

/***** Button Styling *****/
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons a {
  background-color: #4E2A84;
  color: white;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}
